body{
  background-color: bisque;
  
}

h1{
  padding: 25px;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  background-color: rgb(45, 45, 220);
  color: white;
}

section{
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  background-color: rgb(197, 25, 25);
  gap: 20px;
}

section img{
  height: 300px;
  width: 400px;
}

button{
  background-color: black;
  color: white;
  padding: 10px;
}

div{
  padding: 20px;
  display: flex;
  justify-content: center;
}

article{
  padding: 25px;
}
